header {
  padding: 0px 0px;
  transition: all 300ms ease-in;
}

header .header_logo {
  flex-grow: 1;
}

header .header_logo:hover {
  cursor: pointer;
}

header .header_logo_name {
  font-size: 40px;
}

header .header_logo_title {
  text-transform: uppercase;
}
